body {
  margin: 10px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
  padding-bottom: 5px;
}

button {
  padding: 5px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-info {
  background-color:  #cdeff4;
}

td {
  border: 1px;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #f8f9fa;
}

.table th, .table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 5px;
}


.btn-info {
  background-color: #cdeff4;
}


.form-container {
  padding-bottom: 20px; /* Adjust the value as needed */
}

.main-container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
.header-container, .header {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

/* Search Bar Styling */
.search-bar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Transaction Form Styling */
.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.transaction-form {
  margin-bottom: 20px;
}

.transaction-form div {
  margin-bottom: 10px;
}

.transaction-form button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #0056b3;
}


.search-bar, .table {
  border-radius: 5px;
  border: 1px solid #4a90e2;
  box-shadow: 1px 1px 2px #4a90e2;
  margin-top: 20px;
}


.form {
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 2px #cccccc;
  margin-top: 20px;
  padding: 20px;
}
